*{
	margin:0;
	padding:0;
	font-family: 'Nunito',
			sans-serif;
	box-sizing:  border-box;
}

body{
	background: #080808;
	color: #fff;
}

#header{
	width: 100%;
	/* height: 100vh; */
	background-size: cover;
	background-repeat: no-repeat;
}

.container, nav{
	padding: 10px  10%;}


nav{
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-wrap: wrap;	
}
nav .tags{
	position: fixed;
	right: 100px;
	z-index: 1;
	padding: 6px;
	background: #2726266c;
	border-radius: 7px;

}

.logo{
	width:130px;
	background-color: #535151b7;
	border-radius: 60%;
}
nav ul li{
	display: inline-block;
	list-style: none;
	margin: 10px 20px;
	
}

nav ul li a{
	color:#fff;
	text-decoration: none;
	font-size: 18px;
	position: relative;
	transition: 0.5s;
}
nav ul li a::after {
	content: "";
	width: 0;
	height: 3px;
	background: #ff004f;
	position: absolute;
	left: 0; 
	bottom: -6px;
	transition: 0.5s;
}
nav ul li a:hover::after{
	width: 100%;
	
}
.navbtn{
	width: 20px;
	height: 20px;
	display: none;
	color: #fff;
	background-color: #fff;
}
.hresource{
	/* background: #f14b80; */
	display: flex;
	justify-content: space-between;
}
.header-text{
	margin-top: 10%;
	font-size: 15px;
}
.header-text h1{
	font-family: gabriola;
	font-size: 50px;
	margin-top: 20px;
	font-weight: bold;
}
.header-text h1 span{
	color:#ff004f;
}

.profile_picture{
	margin-top: 10px;
	margin-left: 30px;
	width: 510px;
	overflow: hidden;
		-webkit-mask:
			linear-gradient(90deg,
				transparent,
				rgba(0, 0, 0, 0.849) 40%,
				rgb(255, 255, 255) 100%,
				transparent);
		mask:
			llinear-gradient(90deg,
				transparent,
				rgba(0, 0, 0, 0.849) 40%,
				rgb(255, 255, 255) 100%,
				transparent);
	
}
.profile_picture img{
	border-radius: 0 10% 10% 0;
	width: 100%;
	transition: all 0.4s;
}
.profile_picture img:hover{
	transform: perspective(123deg);
}



/* -------------about------ */

#about{
	padding: 80px 10%;
	color: #ababab;
}
.row{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
.about-col-1{
	flex-basis: 35%;
	background-repeat: no-repeat;
	background-size: cover;
}
.about-col-1 img{
	width: 100%;
	border-radius: 15px;
	display: none;
}

.about-col-2{
	flex-basis: 60%;

}
.subtitle{
	font-size: 60px;
	font-weight: 600;
}
.tabtitle{
	display: flex;
	margin: 20px 0 40px;
}
.tablinks{
	margin-right: 50px;
	font-size: 18px;
	font-weight: 500;
	cursor: pointer;
	position: relative;
}
.tablinks::after{
	content: "";
	height: 3px;
	width: 0;
	background: #ff004f;
	position:absolute;
	left: 0;
	bottom: -8px;
	transition: 0.5s;
}
.tablinks.active-link::after{
	width: 100%;
}
.tab-contents ul li{
	list-style-type: none;
	margin: 10px 0;
}
.tab-contents ul li span{
	color:#f192b0;
	font-size: 14px;
}
.tab-contents{
	display: none;
}
.tab-contents.active-tab{
	display: block;
}

/* -------------------services----------- */

#services{
	padding: 30px 0px;
}
.services-list, .work-list{
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
	grid-gap: 40px;
	margin-top: 50px;
	

}
.services-list div{
	background: #262626;
	padding: 40px;
	font-size: 13px;
	font-weight: 300;
	transition: background 0.7s, transform 0.5s;
	border-radius: 10px;
}
.services-list div h2{
	margin-top: 80px;
	font-size: 30px;
	font-weight: 500;
	margin-bottom: 15px;
}
.services-list div a{
	text-decoration: none;
	color: #fff;
	font-size: 12px;
	margin-top: 20px;
	display: inline-block;
	padding: 4px;
	background: #8d7f84;
	border-radius: 4px;
	box-shadow: 2px 2px 2px rgba(0,0,0,0.5);
}

.services-list div:hover{
	background: #ff004f;
	transform: translate3d(-10px, -12px, 0);
}
.services-list div:hover a{
	background: #f192b0;
}
.services-list div a:hover {
	background: #f03d76;
}
/* what I do */
#project{
	padding: 50px 0;
}
.work{
	border-radius: 10px;
	position: relative;
	overflow: hidden;
	height: 80%;
}
.work img{
	width: 100%;
	border-radius: 10px;
	display: block;
	height: 100%;
	transition: transform 0.5s;
}
.work:hover{
	display: block;
}

.layer{
	width: 100%;
	height: 0;
	background: linear-gradient(rgba(0,0,0,0.5), #ff004f);
	border-radius: 10px;
	position: absolute;
	bottom: 0;
	left: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 0 40px;
	text-align: center;
	font-size: 14px;
	transition: height 0.5s;
}

.layer h3{
	font-weight: 500;
	margin-bottom: 20px;
}
.layer a{
	margin-top: 20px;
	color: #ff004f;
	text-decoration: none;
	font-size: 18px;
	line-height: 60px;
	background: #fff;
	width: 60px;
	height: 60px;
	border-radius: 50%;
	text-align: center;
}
.work:hover > img{
	transform: scale(1.1);
}
.work:hover .layer{
	height: 100%;
}

.layer img{
	transition: all 0.5s;
}

.layer img:hover {
	transform: scale(0.95);
}

.btn{
	display: block;
	margin: 50px auto;
	width: fit-content;
	border: 1px solid #f14b80;
	padding: 14px 50px;
	border-radius: 6px;
	background: #00000057;
	text-decoration: none;
	color: #fff;
	transition: background 0.5s;
}
.btn:hover{
	background-color: #ff004f;
}
/* -------content------- */
.contact-left img{
	margin-right: 15px;
	width: 25px;
	height: 25px;
	border-radius: 10px;
}
.contact-left{
	flex-basis: 35%;
}


.contact-right{
	flex-basis: 60%;
}
.contact-left p{
	margin-top: 30px;
}
.info{
	margin-top: 30px;
}
.info img{
	display: inline-block;
	transition: transform 0.5s;
}
.info img:hover{
	transform:translateY(-4px);
}
.contact-right form{
	width: 100%;
}
form input, form textarea{
	width: 100%;
	border:0;
	outline: none;
	background: #262626;
	padding: 15px;
	margin: 15px 0;
	color: #fff;
	font-size: 18px;
	border-radius: 6px;
	resize:none;
}
form .btn{
	margin: 20px 0;
	padding: 14px 60px;
	cursor: pointer;
	font-size: 18px;
	
}

/* ------------------footer---------------- */
.footer{
	width: 100%;
	text-align: center;
	padding: 25px 0;
	background: #262626;
	font-weight: 300;
	margin-top: 20px;
}




/* -----------+___________SERVICES.HTML_________+---------------------------- */

.service, .name {
	display: flex;
	flex-wrap: wrap;
	margin: 30px 0;
	align-items: center;
}

.name .me {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 30px;
	width: 30px;
	background: #4d313b54;
	border-radius: 7px;
	box-shadow: 3px 3px 9px #f192b0bb;
	color: #000000e7;

}
.my .me {
	height: 45px;
	width: 45px;
	font-size: 30px;
	color: #000000ab;
	font-weight: 900;
}

#web, #app, #lang{
	margin-bottom: 100px;
}

/* .service_name{
	background: #4242425b;
	border-radius: 7px;
	box-shadow: 3px 3px 9px #8b797f7c;
} */
.service_name .me{
	background: #9492925b;
	border-radius: 10px;
	box-shadow: 2px 1px 7px #4b4a4b7c;
}
.service{
	justify-content: space-around;
}

.service .ind{
	margin:5px;
	height: 135px;
	width: 135px;
	background: #2e2e2e70;
	border-radius: 50px;
	box-shadow: 3px 3px 9px #5c5a5b;
	transition: all 0.3s ease-in-out;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 12px;
}

.service .ind:hover{
	transform:skew(-1deg ,-1deg);
	font-size: 20px;
	border-radius: 7px;
}
/* ----------------SITES-------------- */
.service .portfolio {
	background: url('images/profile.png');
	background-repeat: no-repeat;
	background-size: cover;
	display: flex;
	align-items: end;
}
.service .facts {
	background: url('images/chrome.png');
	background-repeat: no-repeat;
	background-size: cover;
	display: flex;
	align-items: end;
}
.service .church {
	background: url('images/imerging_apps.png');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: left;
	display: flex;
	align-items: end;
}
.service .shopping {
	background: url('images/cart2.jpeg');
	background-repeat: no-repeat;
	background-size: cover;
	display: flex;
	align-items: end;
}
/* ----------------APPS-------------- */
.service .online_app {
	background: url('images/appstore.jpeg');
	background-repeat: no-repeat;
	background-size: cover;
	display: flex;
	align-items: end;
}
.service .social {
	background: url('images/browsers.png');
	background-repeat: no-repeat;
	background-size: cover;
	display: flex;
	align-items: end;
	color: #ffffff;
}
/* ----------------LANGUAGES-------------- */
.service .python{
	background: url('images/python.webp');
	background-repeat: no-repeat;
	background-size: cover;
	color: #000000;
}
.service .react{
	background: url('images/react.jpeg');
	background-repeat: no-repeat;
	background-size: cover;
	display: flex;
	align-items: end;
}
.service .html {
	background: url('images/html.jpeg');
	background-repeat: no-repeat;
	background-size: cover;
	display: flex;
	align-items: end;
}
.service .js {
	background: url('images/js.png');
	background-repeat: no-repeat;
	background-size:cover;
	display: flex;
	align-items: start;
}



/* -----------------------------for small screen--------------------------------- */ 
@media only screen and (max-width: 821px){
	#header{
		height: 45vh;
	}
	.profile_picture{
		display: none;
	}
	.container{
		padding: 0;
		margin: 12px 40px;
		
	}
	.adjust{
		height: auto;
	}
	.hresource{
		background: url("images/serious.jpg");
		background-repeat: no-repeat;
		background-position:center;
		background-size:90%;
		display: block;
		height: 100%;
		margin: 0 -1%;
	}
	.header-text{
		margin: 10px 5%;
		padding: 50px;
		height: 150%;
		overflow: hidden;
		border-radius: 2px;
		font-size: 16px;
		background: #31313186;
	}
	.header-text h1{
		font-size: 30px;
	}
	.header-text > p{
		font-style: italic;
	}
	.navbtn{
		display: block;
	}
	#show{
		position: fixed;
		right: 12px;
		top: 12px;
	}
	.logo{
		width: 80px;
	}
	nav ul{
		background: #333131;
		
		position: fixed;
		top: 0;
		right: -200px;
		width: 200px;
		padding-top: 50px;
		z-index: 2;
		border-radius: 8px;
	}
	nav ul li{
		display: block;
		margin: 7px;
		padding: 13px;
		background: #0000005b;
		border-radius: 8px;
	}
	
	nav ul .navbtn{
		position: absolute;
		top: 25px;
		left: 25px;
		cursor: pointer;
	}

	.row{
		display: block;
	}

	/* -----------about responsive -------- */
	.subtitle{
		font-size: 30px;
	}
	.subtitle p{
		font: 17px;
	}
	.about-col-1 img{
		height: auto;
	}
}


@media only screen and (max-width: 400px){
	.service .ind{
		width: 115px;
		height: 115px;
	}
	.service .js {
		font-size: 10px;
		align-items:flex-start;
	}
}




/* optional
.right {
	position: absolute;
	left: 0px;
	width: 250px;
	border: 3px solid #73AD21;
	padding: 10px;
  }  
div.right::first-line {
	color: #0000ff;
	font-variant: small-caps;
  }
div.right::first-letter {
	color: #ff0000;
	font-size: xx-large;
  } */